<div class="projects">
  <div class="line"></div>
  <h3 class="page-header">{{'Projects' | translate}}</h3>
  <div class="content">
    <div class="project-item" *ngFor="let item of Projects">
      <a [routerLink]="['/activity/projects', item.id]" style="height: 100%;width: 100%;text-decoration: none; cursor: pointer;">
        <div class="image">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="header">
          <h4>{{item.title}}</h4>
        </div>
        <div class="duration">
          <p>ხანგრძლივობა: {{item.duration}}</p>
        </div>
        <div class="status">
          <p>სტატუსი: {{item.status}}</p>
        </div>
      </a>

    </div>

  </div>
  <app-pagination [Response]="Response" (Changes)="GetAllWithPaging($event, lang)"></app-pagination>
</div>
