<div class="sidebar-wrapper">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="">
  </div>
  <div class="links">
    <ul>

      <a [routerLink]="['admin/news']" [routerLinkActive]="['active']"><li>სიახლეები</li></a>
      <a href=""><li>ბლოგები</li></a>
      <a href=""><li>გალერეა</li></a>
      <a href=""><li>პროექტები</li></a>
      <a href=""><li>კურსები</li></a>
      <a href=""><li>ტრენინგ-სემინარები</li></a>
      <a href=""><li>პუბლიკაციები</li></a>
      <a href=""><li>გასვლა</li></a>
      <!-- <li><a href="">ბლოგები</a></li>
      <li><a href="">გალერეა</a></li>
      <li><a href="">პროექტები</a></li>
      <li><a href="">კურსები</a></li>
      <li><a href="">ტრენინგ-სემინარები</a></li>
      <li><a href="">პუბლიკაციები</a></li> -->
    </ul>
  </div>
</div>
