<div class="sidebar-wrapper">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="">
  </div>
  <div class="links">
    <ul>
      <a [routerLink]="['admin/news']" [routerLinkActive]="['active']"><li>სიახლეები</li></a>
      <a [routerLink]="['admin/blogs']" [routerLinkActive]="['active']"><li>ბლოგები</li></a>
      <a [routerLink]="['admin/gallery']" [routerLinkActive]="['active']"><li>გალერეა</li></a>
      <a [routerLink]="['admin/projects']" [routerLinkActive]="['active']"><li>პროექტები</li></a>
      <a [routerLink]="['admin/courses']" [routerLinkActive]="['active']"><li>კურსები</li></a>
      <a [routerLink]="['admin/trainings']" [routerLinkActive]="['active']"><li>ტრენინგ-სემინარები</li></a>
      <a [routerLink]="['admin/services']" [routerLinkActive]="['active']"><li>მომსახურება</li></a>
      <a [routerLink]="['admin/statuses']" [routerLinkActive]="['active']"><li>სტატუსები</li></a>
      <a [routerLink]="['admin/partners']" [routerLinkActive]="['active']"><li>პარტნიორები</li></a>
      <a [routerLink]="['admin/requests']" [routerLinkActive]="['active']"><li>Requests</li></a>
      <a (click)="logout()"><li>გასვლა</li></a>
    </ul>
  </div>
</div>
