<div class="team-wrapper">
  <div class="line"></div>
  <h3 class="page-header">გუნდი</h3>

  <div class="content">
    <h4>დამფუძნებელთა კრება</h4>
    <div class="list">
      <div class="item">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>არიზ დაშდამიროვი - გამგეობის თავმჯდომარე</h5>
          <p>საკონტაქტო ნომერი: 577 27 80 90</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>მისამართი: მარნეულის მუნიციპალიტეტი სოფ. მოლაოღლი</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>არიზ დაშდამიროვი - გამგეობის თავმჯდომარე</h5>
          <p>საკონტაქტო ნომერი: 577 27 80 90</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>მისამართი: მარნეულის მუნიციპალიტეტი სოფ. მოლაოღლი</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>არიზ დაშდამიროვი - გამგეობის თავმჯდომარე</h5>
          <p>საკონტაქტო ნომერი: 577 27 80 90</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>მისამართი: მარნეულის მუნიციპალიტეტი სოფ. მოლაოღლი</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>არიზ დაშდამიროვი - გამგეობის თავმჯდომარე</h5>
          <p>საკონტაქტო ნომერი: 577 27 80 90</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>მისამართი: მარნეულის მუნიციპალიტეტი სოფ. მოლაოღლი</p>
        </div>
      </div>

    </div>
    <h4>თანამშრომლები</h4>
    <div class="list">
      <div class="item">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>არიზ დაშდამიროვი - გამგეობის თავმჯდომარე</h5>
          <p>საკონტაქტო ნომერი: 577 27 80 90</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>ელ-ფოსტა: ariz.dashdemirov@gmail.com</p>
          <p>მისამართი: მარნეულის მუნიციპალიტეტი სოფ. მოლაოღლი</p>
        </div>
      </div>
    </div>
  </div>
</div>
