<div class="team-wrapper">
  <div class="line"></div>
  <h3 class="page-header">{{'Team' | translate}}</h3>

  <div class="content">
    <h4>დამფუძნებელთა კრება</h4>
    <div class="list">
      <div class="item" *ngFor="let item of Founders">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>{{item.fullName}} - {{item.position}}</h5>
          <p>საკონტაქტო ნომერი: {{item.contactMobile}}</p>
          <p>ელ-ფოსტა: {{item.email}}</p>
          <p>Facebook: {{item.facebookLink}} </p>
          <p>მისამართი: {{item.address}}</p>
        </div>
      </div>
    </div>
    <h4>თანამშრომლები</h4>
    <div class="list">
      <div class="item" *ngFor="let item of Workers">
        <div class="image">
          <img src="assets/images/team.png" alt="">
        </div>
        <div class="details">
          <h5>{{item.fullName}} - {{item.position}}</h5>
          <p>საკონტაქტო ნომერი: {{item.contactMobile}}</p>
          <p>ელ-ფოსტა: {{item.email}}</p>
          <p>Facebook: {{item.facebookLink}} </p>
          <p>მისამართი: {{item.address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
