<div class="team-wrapper">
  <div class="line"></div>
  <h3 class="page-header">{{'Team' | translate}}</h3>

  <div class="content">
    <h4>{{'founders' | translate}}</h4>
    <div class="list">
      <div class="item" *ngFor="let item of Founders">
        <div class="image">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="details">
          <h5>{{item.fullName}} - {{item.position}}</h5>
          <p>{{'contactPhone' | translate}}: {{item.contactMobile}}</p>
          <p>{{'Email' | translate}}: {{item.email}}</p>
          <p>Facebook: {{item.facebookLink}} </p>
          <p>{{'Adress' | translate }}: {{item.address}}</p>
        </div>
      </div>
    </div>
    <h4>{{'colleagues' | translate}}</h4>
    <div class="list">
      <div class="item" *ngFor="let item of Workers">
        <div class="image">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="details">
          <h5>{{item.fullName}} - {{item.position}}</h5>
          <p>{{'contactPhone' | translate}}: {{item.contactMobile}}</p>
          <p>{{'Email' | translate}}: {{item.email}}</p>
          <p>Facebook: {{item.facebookLink}} </p>
          <p>{{'Adress' | translate }}: {{item.address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
