<div class="footer">
  <div class="cols">
    <div class="logo-and-soc">
      <div class="logo">
        <img src="assets/images/logo.svg" alt="">
      </div>
      <div class="soc">
        <div><a target="_blank" href="https://youtube.com/channel/UCVEIclKNfxsQThPJ-ryoVkg"><i class="pi pi-youtube"></i></a></div>
        <div>
          <a target="_blank" href="https://www.facebook.com/New.Thinking.Institute">
            <i class="pi pi-facebook"></i>
          </a>
          </div>
        <div><a target="_blank" href="https://instagram.com/new_thinking_institute?r=nametag"><i class="pi pi-instagram"></i></a></div>
      </div>
    </div>
    <div class="footer-about-us">
      <h5>{{'About Us' | translate}}</h5>
      <div class="links">
        <a [routerLink]="['about-us/mission']" >{{'Mission' | translate}}</a>
        <a [routerLink]="['about-us/history']" >{{'History' | translate}}</a>
        <a [routerLink]="['about-us/team']" >{{'Team' | translate}}</a>
        <a [routerLink]="['about-us/donors-and-partners']" >{{'Donors and partners' | translate}}</a>
      </div>
    </div>
    <div class="footer-activity">
      <h5>{{'Activity' | translate}}</h5>
      <div class="links">
        <a [routerLink]="['activity/projects']" >{{'Projects' | translate}}</a>
        <a [routerLink]="['activity/service']" >{{'Service' | translate}}</a>
        <a [routerLink]="['activity/courses']" >{{'Courses' | translate}}</a>
        <a [routerLink]="['activity/trainings-and-seminars']" >{{'Training and Seminar' | translate}}</a>
      </div>
    </div>
    <div class="footer-contact">
      <h5>{{'Contact' | translate}}</h5>
      <div class="contact-details">
        <div class="email">
          <p class="cont-label">{{'Email' | translate}}</p>
          <p>mimdevelopment12@gmail.com</p>
        </div>
        <div class="phone">
          <p class="cont-label">{{'Telephone' | translate}}</p>
          <p>577 27 80 90</p>
        </div>
        <div class="address">
          <p class="cont-label">{{'Adress' | translate}}</p>
          <p>{{'FullAddress' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="union">
    <div class="logo-image">
      <img src="assets/images/union-logo.png" alt="">
    </div>
    <div class="text">
      <p>ეს ვებ გვერდი შექმნილია ევროკავშირისა და კონრად ადენაუერის ფონდის მხარდაჭერით, პროექტის <b>“სამოქალაქო საზოგადოების ინიციატივა:</b><i> მდგრადი, ღია და ანგარიშვალდებული სამოქალაქო საზოგადოების ორგანიზაციები საქართველოს განვითარებისთვის” </i>ფარგლებში. მის შინაარსზე სრულად პასუხისმგებელია “ახალი აზროვნების ინსტიტუტი”  და შესაძლოა, რომ იგი არ გამოხატავდეს ევროკავშირისა და კონრად ადენაუერის ფონდის შეხედულებებს. </p>
    </div>
  </div>
  <div class="footer-line"></div>
  <div class="copyright">
    <p>Developed By Butterfly Effect </p>
  </div>

</div>
