
<div class="footer">
  <div class="cols">
    <div class="logo-and-soc">
      <div class="logo">
        <img src="assets/images/logo.svg" alt="">
      </div>
      <p>მიჰყევით</p>
      <div class="soc">
        <div><i class="pi pi-youtube"></i></div>
        <div><i class="pi pi-facebook"></i></div>
        <div><i class="pi pi-instagram"></i></div>
      </div>
    </div>
    <div class="footer-about-us">
      <h5>ჩვენ შესახებ</h5>
      <div class="links">
        <p>მისია</p>
        <p>ისტორია</p>
        <p>გუნდი</p>
        <p>დონორები და პარტნიორები</p>
        <p>დაეხმარე ფონდს </p>
      </div>
    </div>
    <div class="footer-activity">
      <h5>საქმიანობა</h5>
      <div class="links">
        <p>პროექტები</p>
        <p>მომსახურება</p>
        <p>კურსები</p>
        <p>ტრენინგ-სემინარი</p>
      </div>
    </div>
    <div class="footer-contact">
      <h5>კონტაქტი</h5>
      <div class="contact-details">
        <div class="email">
          <p class="cont-label">ელ. ფოსტა</p>
          <p>mimdevelopment12@gmail.com</p>
        </div>
        <div class="phone">
          <p class="cont-label">ტელეფონი</p>
          <p>577 27 80 90</p>
        </div>
        <div class="address">
          <p class="cont-label">მისამართი</p>
          <p>NTI ( New Thinking Institute)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-line"></div>
  <div class="copyright">
    <p>Copyright © 2022 | Butterfly Effect </p>
  </div>
</div>
