
<div class="main-news-list">
  <div class="main-news-item" *ngFor="let item of shortNews">
    <div class="img">
      <img *ngIf="item.videoURL !== null && item.videoURL !== '' " src="assets/images/videoImage.png" alt="">
      <img *ngIf="item.videoURL === null || item.videoURL === '' " src="{{item.image}}" alt="">
    </div>
    <div class="content">
      <div class="header">
        <h4>{{((item.title ) ? (item.title.length > 75 ? item.title.slice(0, 75) + "..." : item.title) : "")}}</h4>
      </div>
      <div class="body">
        <p>{{((item.description ) ? (item.description.length > 95 ? item.description.slice(0, 95) + "..." : item.description) : "")}}
        </p>
      </div>
      <div class="details">
        <div class="date">
          <p>{{item.createdAt | date}}</p>
        </div>
        <a [routerLink]="['news-detail']"  style="text-decoration:none;">
          <div class="link-to-detail">
            <p>სრულად</p>
            <i class="pi pi-arrow-right"></i>
          </div>
        </a>

      </div>
    </div>
  </div>

</div>
