.content .image{
  width: 366px;
height: 285px;
}
.content .image img{
  width: 100%;
  height: 100%;
  border-radius:8px;
}
.content {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.content .inline-content{
  width: calc(100% - 430px);
}
.duration p{
  font-family: 'DejaVu Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
margin: 0;
margin-bottom: 15px;
}
.status p{
font-family: 'DejaVu Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
margin: 0;
margin-bottom: 35px;
}
.description p{
  font-family: 'DejaVu Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #000000;
}
@media screen and (max-width:800px) {
  .content{
    align-items:start;
    flex-direction: column;
  }
  .content .image{
    width: 100%;
    margin-bottom: 15px;
  }
  .content .inline-content{
    width: 100%;
  }
  .duration p{
    font-size: 15px;
  }
  .status p{
    font-size: 17px;
  }
}
