<div class="projects-detail">
  <app-detail-header></app-detail-header>

  <div class="content">
    <div class="image">
      <img src="assets/images/projectLogo1.png" alt="">
    </div>
    <div class="inline-content">
      <div class="duration">
        <p>ხანგრძლივობა: 2021-2022 წელი</p>
      </div>
      <div class="status">
        <p>სტატუსი: დასრულებული</p>
      </div>
      <div class="description">
        <p>შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს, რეალურთან
          მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს. ხშირადაა შემთხვევა, როდესაც დიზაინის შესრულებისას
          საჩვენებელია, თუ როგორი იქნება ტექსტის ბლოკი. სწორედ ასეთ დროს არის მოსახერხებელი ამ გენერატორით შექმნილი
          ტექსტის გამოყენება, რადგან უბრალოდ „ტექსტი ტექსტი ტექსტი“ ან სხვა გამეორებადი სიტყვების ჩაყრა, ხელოვნურ
          ვიზუალურ სიმეტრიას ქმნის და არაბუნებრივად გამოიყურება</p>
      </div>
    </div>
  </div>
</div>
