<div class="projects-detail">
  <app-detail-header [data]="Item" [detailUrl]="detailUrl"></app-detail-header>

  <div class="content">
    <div class="image">
      <img src="{{Item.image}}" alt="">
    </div>
    <div class="inline-content">
      <div class="duration">
        <p>ხანგრძლივობა: {{Item.duration}}</p>
      </div>
      <div class="status">
        <p>სტატუსი: {{Item.statusDisplayName}}</p>
      </div>
      <div class="description">
        <p>{{Item.description}}</p>
      </div>
    </div>
  </div>
</div>
