<div class="det-info">
  <div class="line"></div>
  <h3>დეტალური ინფორმაცია</h3>
  <div class="content">
    <div class="image">
      <img src="{{Item.image}}" alt="">
    </div>
    <div class="content-inline">
      <h3>{{Item.title}}</h3>
      <p>{{Item.description}}</p>
      <p class="date">დროები: {{Item.duration}}</p>
      <div *ngIf="Item.isPaid" class="cost">
        <p>ფასიანი</p>
      </div>
      <div *ngIf="!Item.isPaid" class="cost free">
        <p>უფასო</p>
      </div>
    </div>
  </div>
</div>
