<div class="det-info">
  <div class="line"></div>
  <h3>დეტალური ინფორმაცია</h3>
  <div class="content">
    <div class="image">
      <img src="assets/images/service.png" alt="">
    </div>
    <div class="content-inline">
      <h3>The Complete 2020 Fullstack Web
        Developer Course</h3>
      <p>შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს, რეალურთან
        მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს. ხშირადაა შემთხვევა, როდესაც დიზაინის შესრულებისას </p>
      <p class="date">საათები 9:00 - 15:00 </p>
      <div class="cost">
        <p>ფასიანი</p>
      </div>
    </div>
  </div>
</div>
