
<div class="service">
  <div class="line"></div>
  <h3 class="page-header">ტრენინგ-სემინარი</h3>
  <p class="head-text">შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს, რეალურთან მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს. ხშირადაა შემთხვევა, როდესაც დიზაინის შესრულებისას </p>

  <div class="service-list">
    <div class="service-item">
      <div class="image">
        <img src="assets/images/service.png" alt="">
      </div>
      <div class="name">
        <h4>The Complete 2020 Fullstack Web
          Developer Course</h4>
      </div>
      <div class="cost">
        <p>ფასიანი</p>
      </div>
    </div>
    <div class="service-item">
      <div class="image">
        <img src="assets/images/service.png" alt="">
      </div>
      <div class="name">
        <h4>The Complete 2020 Fullstack Web
          Developer Course</h4>
      </div>
      <div class="cost free">
        <p>უფასო</p>
      </div>
    </div>
    <div class="service-item">
      <div class="image">
        <img src="assets/images/service.png" alt="">
      </div>
      <div class="name">
        <h4>The Complete 2020 Fullstack Web
          Developer Course</h4>
      </div>
      <div class="cost">
        <p>ფასიანი</p>
      </div>
    </div>
    <div class="service-item">
      <div class="image">
        <img src="assets/images/service.png" alt="">
      </div>
      <div class="name">
        <h4>The Complete 2020 Fullstack Web
          Developer Course</h4>
      </div>
      <div class="cost">
        <p>ფასიანი</p>
      </div>
    </div>
  </div>
</div>
