<div class="main-wrapper">
  <div class="news-carousel">
    <div class="line"></div>
    <h3 [routerLink]="['/news']">{{'News' | translate}}</h3>
    <p-carousel *ngIf="slideNews && slideNews.length > 0" [value]="slideNews" [autoplayInterval]="8000"
      [circular]="true">
      <!-- <ng-template pTemplate="header">
          <h5>Vertical</h5>
      </ng-template> -->
      <ng-template let-car pTemplate="item">
        <div class="banner-item">
          <div class="text">
            <h4 *ngIf="!responsive">
              {{((car.title ) ? (car.title.length > 50 ? car.title.slice(0, 50) + "..." : car.title) : "")}}</h4>
            <h4 *ngIf="responsive">
              {{((car.title ) ? (car.title.length > 50 ? car.title.slice(0, 50) + "..." : car.title) : "")}}</h4>

            <p class="description" *ngIf="!responsive && !isPhoneSize">
              {{((car.description ) ? (car.description.length > 385 ? car.description.slice(0, 385) + "..." : car.description) : "")}}
            </p>
            <p class="description" *ngIf="responsive ">
              {{((car.description ) ? (car.description.length > 300 ? car.description.slice(0, 300) + "..." : car.description) : "")}}
            </p>
            <p class="description" *ngIf="isPhoneSize">
              {{((car.description ) ? (car.description.length > 200 ? car.description.slice(0, 200) + "..." : car.description) : "")}}
            </p>
            <div class="details">
              <div class="date">
                <p>{{car.createdAt | date }}</p>
              </div>
              <a href="news/{{lang}}/{{car.id}}" target="_blank" style="z-index:11111111;text-decoration:none;">
                <div class="link-to-detail">
                  <p>{{'seeAll' | translate}}</p>
                  <i class="pi pi-arrow-right"></i>
                </div>
              </a>

            </div>
          </div>
          <div class="image">
            <img src="{{car.image}}" alt="">
          </div>

        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="main-news">
    <app-short-news [shortNews]="shortNews"></app-short-news>
  </div>
  <div class="main-activity">
    <div class="line"></div>
    <h3 [routerLink]="['/activity']">{{'Activity' | translate}}</h3>
    <div class="main-activity-list">
      <div class="main-activity-item">
        <a [routerLink]="['/activity/service']">
          <div class="circle">
            <img src="assets/images/headphone.svg" alt="">
          </div>
          <div class="content">
            <div class="header">
              <h4>{{'Service' | translate}}</h4>
            </div>
            <div class="body">
              <p>
                {{'ServiceText' | translate}}
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="main-activity-item">
        <a [routerLink]="['/activity/courses']">
          <div class="circle">
            <img src="assets/images/medal.svg" alt="">
          </div>
          <div class="content">
            <div class="header">
              <h4>{{'Courses' | translate}}</h4>
            </div>
            <div class="body">
              <p>
                {{'CoursesText' | translate}}
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="main-activity-item">
        <a [routerLink]="['/activity/trainings-and-seminars']">
          <div class="circle">
            <img src="assets/images/lightbulb.svg" alt="">
          </div>
          <div class="content">
            <div class="header">
              <h4>{{'Training and Seminar' | translate}}</h4>
            </div>
            <div class="body">
              <p>
                {{'TrainingsText' | translate}}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="main-news blogs">
    <div class="line"></div>
    <h3 [routerLink]="['/publications/blogs']">{{'Blogs' | translate}}</h3>
    <div class="main-news-list">
      <a class="main-news-item" style="text-decoration:none;" [routerLink]="['/publications/blogs', item.id]" target="_blank" *ngFor="let item of shortBlogs">
        <div class="img">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="content">
          <div class="header">
            <h4>{{((item.title ) ? (item.title.length > 75 ? item.title.slice(0, 75) + "..." : item.title) : "")}}</h4>
          </div>
          <div class="body">
            <div class="author">
              <div class="author-img">
                <img src="{{item.authorImage}}" alt="">
              </div>
              <div class="author-name">
                <p> {{item.author}}</p>
              </div>
            </div>
          </div>
          <div class="details">
            <div class="date">
              <p>{{item.createdAt | date }}</p>
            </div>
            <a href="publications/blogs/{{item.id}}" target="_blank" style="text-decoration:none;">
              <div class="link-to-detail">
                <p>{{'seeAll' | translate}}</p>
                <i class="pi pi-arrow-right"></i>
              </div>
            </a>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="main-contact" id="contact">
    <div class="line"></div>
    <h3>{{'Contact' | translate}}</h3>
    <h5>{{'ContactUsText' | translate}}
    </h5>
    <div class="contact-block">
      <div class="contact-form">
        <div class="name-email">
          <div class="name">
            <label for="name">{{'NameAndSurname' | translate}}</label>
            <input type="text" id="name" style="outline: none;" [disabled]="CustomerRequest.isAnonymous"
              [(ngModel)]="CustomerRequest.fullName">
          </div>
          <div class="email">
            <label for="email">{{'Email' | translate}}</label>
            <input type="text" id="email" style="outline: none;" [disabled]="CustomerRequest.isAnonymous"
              [(ngModel)]="CustomerRequest.email">
          </div>
        </div>
        <div class="anonym">
          <input id="anonym" type="checkbox" (click)="clearInputs()" [(ngModel)]="CustomerRequest.isAnonymous">
          <label for="anonym">{{'Anonymously' | translate}}</label>
        </div>
        <div class="subject">
          <label for="subject">{{'Comment' | translate}}</label>
          <textarea name="subject" id="subject" style="outline: none;" [(ngModel)]="CustomerRequest.comment"></textarea>
        </div>
        <div class="button">
          <p class="requestMessage" style="color:red;" *ngIf="showCustomerErrorMessage">fill required Data</p>
          <p class="requestMessage" [ngStyle]="{'color' : requestMessage.color}">{{requestMessage.message}}</p>
          <button type="submit" (click)="Send()">{{'Send' | translate}}</button>
        </div>
      </div>
      <div class="contact-info">
        <div class="email-image">
          <img src="assets/images/emailsend.svg" alt="">
        </div>
        <div class="contact-details">
          <div class="email">
            <p class="cont-label">{{'Email' | translate}}</p>
            <p>mimdevelopment12@gmail.com</p>
          </div>
          <div class="phone">
            <p class="cont-label">{{'Telephone' | translate}}</p>
            <p>577 27 80 90</p>
          </div>
          <div class="address">
            <p class="cont-label">{{'Adress' | translate}}</p>
            <p>{{'FullAddress' | translate}}</p>
          </div>
          <div class="contact-soc-media">
            <div><a target="_blank" href="https://youtube.com/channel/UCVEIclKNfxsQThPJ-ryoVkg"><i
                  class="pi pi-youtube"></i></a></div>
            <div>
              <a target="_blank" href="https://www.facebook.com/New.Thinking.Institute">
                <i class="pi pi-facebook"></i>
              </a>
            </div>
            <div><a target="_blank" href="https://instagram.com/new_thinking_institute?r=nametag"><i
                  class="pi pi-instagram"></i></a></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- {{((application.name.name ) ? (application.name.name.length > 127 ? application.name.name.slice(0, 127) + "..." : application.name.name ) : "")}} -->
