<div class="main-wrapper">
  <div class="news-carousel">
    <div class="line"></div>
    <h3>სიახლეები</h3>
    <p-carousel *ngIf="slideNews && slideNews.length > 0" [value]="slideNews" [autoplayInterval]="8000"
      [circular]="true">
      <!-- <ng-template pTemplate="header">
          <h5>Vertical</h5>
      </ng-template> -->
      <ng-template let-car pTemplate="item">
        <div class="banner-item">
          <div class="text">
            <h4 *ngIf="!responsive">{{car.title}}</h4>
            <h4 *ngIf="responsive"> {{((car.title ) ? (car.title.length > 90 ? car.title.slice(0, 90) + "..." : car.title) : "")}}</h4>
            <p class="description" *ngIf="!responsive">
              {{((car.description ) ? (car.description.length > 385 ? car.description.slice(0, 385) + "..." : car.description) : "")}}
            </p>
            <p class="description" *ngIf="responsive">
              {{((car.description ) ? (car.description.length > 300 ? car.description.slice(0, 300) + "..." : car.description) : "")}}
            </p>
            <div class="details">
              <div class="date">
                <p>{{car.createdAt | date }}</p>
              </div>
              <a href="news-detail/{{car.id}}" target="_blank" style="z-index:11111111;text-decoration:none;">
                <div class="link-to-detail">
                  <p>სრულად</p>
                  <i class="pi pi-arrow-right"></i>
                </div>
              </a>

            </div>
          </div>
          <div class="image">
            <img src="{{car.image}}" alt="">
          </div>

        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="main-news">
    <app-short-news></app-short-news>
  </div>
  <div class="main-activity">

    <div class="main-activity-list">
      <div class="main-activity-item">
        <a [routerLink]="['/activity/service']">
          <div class="circle">
            <img src="assets/images/headphone.svg" alt="">
          </div>
          <div class="content">
            <div class="header">
              <h4>მომსახურება</h4>
            </div>
            <div class="body">
              <p>
                შემთხვევითად გენერირებული ტექსტი
                დიზაინერებს და ტიპოგრაფიული ნაწარმის
                მქმნელებს, რეალურთან მაქსიმალურად
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="main-activity-item">
        <a [routerLink]="['/activity/courses']">
          <div class="circle">
            <img src="assets/images/medal.svg" alt="">
          </div>
          <div class="content">
            <div class="header">
              <h4>კურსები</h4>
            </div>
            <div class="body">
              <p>
                შემთხვევითად გენერირებული ტექსტი
                დიზაინერებს და ტიპოგრაფიული ნაწარმის
                მქმნელებს, რეალურთან მაქსიმალურად
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="main-activity-item">
        <a [routerLink]="['/activity/trainings-and-seminars']">
          <div class="circle">
            <img src="assets/images/lightbulb.svg" alt="">
          </div>
          <div class="content">
            <div class="header">
              <h4>ტრენინგ-სემინარები</h4>
            </div>
            <div class="body">
              <p>
                შემთხვევითად გენერირებული ტექსტი
                დიზაინერებს და ტიპოგრაფიული ნაწარმის
                მქმნელებს, რეალურთან მაქსიმალურად
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="main-news">
    <div class="line"></div>
    <h3>ბლოგები</h3>
    <div class="main-news-list">
      <div class="main-news-item" *ngFor="let item of shortBlogs">
        <div class="img">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="content">
          <div class="header">
            <h4>{{((item.title ) ? (item.title.length > 75 ? item.title.slice(0, 75) + "..." : item.title) : "")}}</h4>
          </div>
          <div class="body">
            <div class="author">
              <div class="author-img">
                <img src="assets/images/author.png" alt="">
              </div>
              <div class="author-name">
                <p> {{item.author}}</p>
              </div>
            </div>
          </div>
          <div class="details">
            <div class="date">
              <p>{{item.createdAt | date }}</p>
            </div>
            <a [routerLink]="['news-detail']"  style="text-decoration:none;">
              <div class="link-to-detail">
                <p>სრულად</p>
                <i class="pi pi-arrow-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="main-contact" id="contact">
    <div class="line"></div>
    <h3>კონტაქტი</h3>
    <h5>შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს, რეალურთან
      მაქსიმალურად
    </h5>
    <div class="contact-block">
      <div class="contact-form">
        <div class="name-email">
          <div class="name">
            <label for="name">სახელი და გვარი</label>
            <input type="text" id="name" [disabled]="CustomerRequest.isAnonymous" [(ngModel)]="CustomerRequest.fullName">
          </div>
          <div class="email">
            <label for="email">E-mail</label>
            <input type="text" id="email" [disabled]="CustomerRequest.isAnonymous" [(ngModel)]="CustomerRequest.email">
          </div>
        </div>
        <div class="anonym">
          <input id="anonym" type="checkbox" (click)="clearInputs()" [(ngModel)]="CustomerRequest.isAnonymous">
          <label for="anonym" >ანონიმურად გაგზავნა</label>
        </div>
        <div class="subject">
          <label for="subject">შენიშვნა</label>
          <textarea name="subject" id="subject" [(ngModel)]="CustomerRequest.comment"></textarea>
        </div>
        <div class="button">
          <p class="requestMessage" style="color:red;" *ngIf="showCustomerErrorMessage">fill required Data</p>
          <p class="requestMessage" [ngStyle]="{'color' : requestMessage.color}">{{requestMessage.message}}</p>
          <button type="submit" (click)="Send()">გაგზავნა</button>
        </div>
      </div>
      <div class="contact-info">
        <div class="email-image">
          <img src="assets/images/emailsend.svg" alt="">
        </div>
        <div class="contact-details">
          <div class="email">
            <p class="cont-label">ელ. ფოსტა</p>
            <p>mimdevelopment12@gmail.com</p>
          </div>
          <div class="phone">
            <p class="cont-label">ტელეფონი</p>
            <p>577 27 80 90</p>
          </div>
          <div class="address">
            <p class="cont-label">მისამართი</p>
            <p>NTI ( New Thinking Institute)</p>
          </div>
          <div class="contact-soc-media">
            <div><i class="pi pi-youtube"></i></div>
            <div><i class="pi pi-facebook"></i></div>
            <div><i class="pi pi-instagram"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- {{((application.name.name ) ? (application.name.name.length > 127 ? application.name.name.slice(0, 127) + "..." : application.name.name ) : "")}} -->
