<div class="news-form">
  <div class="line"></div>
  <h3>{{id === 'create' ? "პროექტის შექმნა" : "პროექტის რედაქტირება"}}</h3>
  <div class="title">
    <div class="item" *ngFor="let item of ResearchForm?.title?.inputs">
      <label for="">Title ( {{item.language}} )<span style="color:red;margin-left:5px">*</span></label>
      <input type="text" [(ngModel)]="item.value" [ngStyle]="{ border: '1px solid ' + item.borderColor }">
    </div>
  </div>
  <div class="description">
    <div class="item" *ngFor="let item of ResearchForm?.description?.inputs">
      <label for="">Description ( {{item.language}} )<span style="color:red;margin-left:5px">*</span></label>
      <textarea type="text" [(ngModel)]="item.value" [ngStyle]="{ border: '1px solid ' + item.borderColor }"></textarea>
    </div>
  </div>
  <div class="details">

    <div class="startDate">
      <label for="">Start Date</label>
     <p-calendar class="calendar" [(ngModel)]="createdAt"></p-calendar>
    </div>
    <div class="image" style="position: relative;margin-left: 15px;">
      <div class="form_file-select">
        <div class="form_file-select-button" style="display:flex">
          <p-progressSpinner *ngIf="fileLoading" class="spinner"></p-progressSpinner>Upload File
        </div>
        <input (change)="chooseFile($event)" name="image" type="file"  required>
      </div>
      <div class="file" *ngIf="file">
        <a href="{{file.url}}" target="_blank">{{file.fileName}}</a>
        <i class="pi pi-trash" (click)="deleteAddedImage()"></i>
      </div>
    </div>
  </div>
  <div class="button" style="cursor:pointer">
    <button style="cursor:pointer" (click)="handleForm()">{{id === "create" ? "Create" : "Update"}}</button>
  </div>
  <!-- <div class="error" *ngFor="let error of validateResponse.error"><p>{{error}}</p></div> -->
</div>
