<div class="news-detail-wrapper">
  <app-detail-header [type]="'blog'" [data]="Item" [detailUrl]="detailUrl"></app-detail-header>
  <div class="image">
    <img src="{{Item.image}}" alt="">
  </div>
  <div class="description" style="white-space: pre-line">
    <p>
      {{Item.description}}
    </p>
  </div>

  <div class="main-news blogs">
    <div class="line"></div>
    <h3>{{'Blogs' | translate}}</h3>
    <div class="main-news-list">
      <div class="main-news-item" *ngFor="let item of shortBlogs">
        <div class="img">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="content">
          <div class="header">
            <h4>{{((item.title ) ? (item.title.length > 75 ? item.title.slice(0, 75) + "..." : item.title) : "")}}</h4>
          </div>
          <div class="body">
            <div class="author">
              <div class="author-img">
                <img src="{{item.authorImage}}" alt="">
              </div>
              <div class="author-name">
                <p> {{item.author}}</p>
              </div>
            </div>
          </div>
          <div class="details">
            <div class="date">
              <p>{{item.createdAt | date }}</p>
            </div>
            <a href="publications/blogs/{{item.id}}" target="_blank" style="text-decoration:none;">
              <div class="link-to-detail">
                <p>{{'seeAll' | translate}}</p>
                <i class="pi pi-arrow-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
