<div class="donors-wrapper">
  <div class="line"></div>
  <h3 class="page-header">დონორები და პარტნიორები</h3>
  <div class="content">
    <div class="list">
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/donors.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
