<div class="studies-wrapper">
  <div class="line"></div>
  <h3 class="page-header">{{'Research' | translate}}</h3>
  <div class="list">
    <div class="item" *ngFor="let item of researchItems">
      <div class="content" style="height: 100%;">
        <div class="head">
          <h4>{{item.title}}</h4>
        </div>
        <div class="date">
          <p>{{item.createdAt | date}}</p>
        </div>
        <div class="description">
          <p>{{item.description}}</p>
        </div>

        <div (click)="GetDocumentation(item)" class="pdf" >
          <div class="icon">
            <img src="assets/images/pdfIcon.svg" alt="">
          </div>
          <div class="title">
            <p>ჩამოწერა</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
