<div class="news-wrapper">
  <div class="line"></div>
<h3>სიახლეები</h3>
<div class="main-news-list">
  <div class="main-news-item" *ngFor="let item of News">
    <div class="img">
      <img src="{{item.image}}" alt="">
    </div>
    <div class="content">
      <div class="header">
        <h4>{{item.title}}</h4>
      </div>
      <div class="body">
        <p>{{item.description}}</p>
      </div>
      <div class="details">
        <div class="date">
          <p>{{item.createdAt | date}}</p>
        </div>
        <a [routerLink]="['/news-detail', item.id]"  style="text-decoration:none;">
        <div class="link-to-detail">
          <p>სრულად</p>
          <i class="pi pi-arrow-right"></i>
        </div>
        </a>
      </div>
    </div>
  </div>

</div>

</div>
