<div class="blogs-wrapper">
  <div class="line"></div>
  <h3>{{'Blogs' | translate}}</h3>
  <div class="main-news-list">
    <a class="main-news-item" style="text-decoration:none;" [routerLink]="['/publications/blogs', item.id]" target="_blank" *ngFor="let item of Blogs">
      <div class="img">
        <img src="{{item.image}}" alt="">
      </div>
      <div class="content">
        <div class="header">
          <h4>{{((item.title ) ? (item.title.length > 75 ? item.title.slice(0, 75) + "..." : item.title) : "")}}</h4>
        </div>
        <div class="body">
          <div class="author">
            <div class="author-img">
              <img src="{{item.authorImage}}" alt="">
            </div>
            <div class="author-name">
              <p> {{item.author}}</p>
            </div>
          </div>
        </div>
        <div class="details">
          <div class="date">
            <p>{{item.createdAt | date }}</p>
          </div>
          <a [routerLink]="['/publications/blogs', item.id]"  style="text-decoration:none;">
            <div class="link-to-detail">
              <p>{{'seeAll' | translate}}</p>
              <i class="pi pi-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
    </a>

  </div>
  <app-pagination [Response]="Response" (Changes)="GetAllWithPaging($event, lang)"></app-pagination>
</div>
