<div class="social-media">
  <div class="links">
    <div class="link-item">
      <a target="_blank" href="https://www.facebook.com/New.Thinking.Institute">
        <img src="assets/images/facebook.svg" alt="">
      </a>

    </div>
    <div class="link-item">
      <a target="_blank" href="https://instagram.com/new_thinking_institute?r=nametag"><img src="assets/images/instagram.svg" alt=""></a>

    </div>
    <div class="link-item">
      <a target="_blank" href="https://youtube.com/channel/UCVEIclKNfxsQThPJ-ryoVkg"> <img src="assets/images/youtube.svg" alt=""></a>
    </div>
  </div>
</div>
