.line {
  width: 66px;
  height: 5px;
  background: #CC3D2B;
  margin-bottom: 10px;
}

.service .service-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap
}

.service h3 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
}

.service-item {
  width: 32%;
  margin-bottom: 50px;
}

.service-item .image {
  width: 100%;
  height: 234px;
}

.service-item .image img {
  height: 100%;
  width: 100%
}

.service-item h4 {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  margin: 16px 0 8px 0;
}

.service-item .cost {
  width: 109px;
  height: 30px;
  background: #081831;

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-item .cost.free{
  background: #CC3D2B;
}
.service-item .cost p {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.head-text{
  font-family: 'DejaVu Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin: 16px 0 30px 0;
color: #000000;
}
