<div class="header-wrapper"  [ngClass]="{'active': active}">
  <div class="blocks">
    <div class="logo">
      <img class="logo" src="assets/images/logo.svg" alt="logo">
      <div class="burger" (click)="active = !active">
        <img src="assets/images/burger.svg" alt="burger">
      </div>
    </div>
    <div class="page-links">
      <ul>
        <li><a [routerLink]="['main']" [routerLinkActive]="['active']">{{'Home' | translate}}</a></li>
        <li><a [routerLink]="['news']" [routerLinkActive]="['active']">{{'News' | translate}}</a></li>
        <li>
          <a [routerLink]="['about-us']" [routerLinkActive]="['active']">{{'About Us' | translate}} <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['about-us/mission']" [routerLinkActive]="['active']">{{'Mission' | translate}}</a></li>
            <li><a [routerLink]="['about-us/history']" [routerLinkActive]="['active']">{{'History' | translate}}</a></li>
            <li><a [routerLink]="['about-us/team']" [routerLinkActive]="['active']">{{'Team' | translate}}</a></li>
            <li><a [routerLink]="['about-us/donors-and-partners']" [routerLinkActive]="['active']">{{'Donors and partners' | translate}}</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['activity']" [routerLinkActive]="['active']">{{'Activity' | translate}} <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['activity/projects']" [routerLinkActive]="['active']">{{'Projects' | translate}}</a></li>
            <li><a [routerLink]="['activity/service']" [routerLinkActive]="['active']">{{'Service' | translate}}</a></li>
            <li><a [routerLink]="['activity/courses']" [routerLinkActive]="['active']">{{'Courses' | translate}}</a></li>
            <li><a [routerLink]="['activity/trainings-and-seminars']"
                [routerLinkActive]="['active']">{{'Training and Seminar' | translate}}</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['publications']" [routerLinkActive]="['active']">{{'Publication' | translate}} <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['publications/studies']" [routerLinkActive]="['active']">{{'Research' | translate}}</a></li>
            <li><a [routerLink]="['publications/accounts']" [routerLinkActive]="['active']">{{'Reports' | translate}}</a></li>
            <li><a [routerLink]="['publications/blogs']" [routerLinkActive]="['active']">{{'Blogs' | translate}}</a></li>
            <li><a [routerLink]="['publications/newsletter']" [routerLinkActive]="['active']">{{'Newsletter' | translate}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['gallery']" [routerLinkActive]="['active']">{{'Gallery' | translate}} <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['gallery/photos']" [routerLinkActive]="['active']">{{'Photos' | translate}}</a></li>
            <li><a [routerLink]="['gallery/videos']" [routerLinkActive]="['active']">{{'Videos' | translate}}</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="lang-search">
      <div class="lang">
        <ul>
          <li>
            <p style="cursor:pointer" (click)="showLang = !showLang">{{selectedLanguageForUI}}</p>
            <ul *ngIf="showLang">
              <li style="cursor:pointer" (click)="changeLanguage('az-Aze')">AZ</li>
              <li style="cursor:pointer" (click)="changeLanguage('ka-Geo')">KA</li>
              <li style="cursor:pointer" (click)="changeLanguage('en-Us')">EN</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="search">
        <div class="search-block">
          <input type="text" placeholder="{{'search'| translate}}">
          <i class="pi pi-search"></i>
        </div>
      </div>
    </div>
    <div class="responsive-links" [ngClass]="{'active': active}">
      <ul>
        <li><a [routerLink]="['main']" [routerLinkActive]="['active']" (click)="active = false">{{'Home' | translate}}</a></li>
        <li><a [routerLink]="['news']" [routerLinkActive]="['active']" (click)="active = false">{{'News' | translate}}</a></li>
        <li>
          <a [routerLink]="['about-us']" [routerLinkActive]="['active']">{{'About Us' | translate}}<img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['about-us/mission']" [routerLinkActive]="['active']">{{'Mission' | translate}}</a></li>
            <li><a [routerLink]="['about-us/history']" [routerLinkActive]="['active']">{{'History' | translate}}</a></li>
            <li><a [routerLink]="['about-us/team']" [routerLinkActive]="['active']">{{'Team' | translate}}</a></li>
            <li><a [routerLink]="['about-us/donors-and-partners']" [routerLinkActive]="['active']">{{'Donors and partners' | translate}}</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['activity']" [routerLinkActive]="['active']">{{'Activity' | translate}} <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['activity/projects']" [routerLinkActive]="['active']">{{'Projects' | translate}}</a></li>
            <li><a [routerLink]="['activity/service']" [routerLinkActive]="['active']">{{'Service' | translate}}</a></li>
            <li><a [routerLink]="['activity/courses']" [routerLinkActive]="['active']">{{'Courses' | translate}}</a></li>
            <li><a [routerLink]="['activity/trainings-and-seminars']"
                [routerLinkActive]="['active']">{{'Training and Seminar' | translate}}</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['publications']" [routerLinkActive]="['active']">{{'Publication' | translate}}  <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['publications/studies']" [routerLinkActive]="['active']">{{'Research' | translate}}</a></li>
            <li><a [routerLink]="['publications/accounts']" [routerLinkActive]="['active']">{{'Reports' | translate}}</a></li>
            <li><a [routerLink]="['publications/blogs']" [routerLinkActive]="['active']">{{'Blogs' | translate}}</a></li>
            <li><a [routerLink]="['publications/newsletter']" [routerLinkActive]="['active']"> {{'Newsletter' | translate}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['gallery']" [routerLinkActive]="['active']">{{'Gallery' | translate}} <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['gallery/photos']" [routerLinkActive]="['active']">{{'Photos' | translate}}</a></li>
            <li><a [routerLink]="['gallery/videos']" [routerLinkActive]="['active']">{{'Videos' | translate}}</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
