<div class="header-wrapper"  [ngClass]="{'active': active}">
  <div class="blocks">
    <div class="logo">
      <img class="logo" src="assets/images/logo.svg" alt="logo">
      <div class="burger" (click)="active = !active">
        <img src="assets/images/burger.svg" alt="burger">
      </div>
    </div>
    <div class="page-links">
      <ul>
        <li><a [routerLink]="['main']" [routerLinkActive]="['active']">მთავარი</a></li>
        <li><a [routerLink]="['news']" [routerLinkActive]="['active']">სიახლეები</a></li>
        <li>
          <a [routerLink]="['about-us']" [routerLinkActive]="['active']">ჩვენ შესახებ <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['about-us/mission']" [routerLinkActive]="['active']">მისია</a></li>
            <li><a [routerLink]="['about-us/history']" [routerLinkActive]="['active']">ისტორია</a></li>
            <li><a [routerLink]="['about-us/team']" [routerLinkActive]="['active']">გუნდი</a></li>
            <li><a [routerLink]="['about-us/donors-and-partners']" [routerLinkActive]="['active']">დონორები და
                პარტნიორები</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['activity']" [routerLinkActive]="['active']">საქმიანობა <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['activity/projects']" [routerLinkActive]="['active']">პროექტები</a></li>
            <li><a [routerLink]="['activity/service']" [routerLinkActive]="['active']">მომსახურება</a></li>
            <li><a [routerLink]="['activity/courses']" [routerLinkActive]="['active']">კურსები</a></li>
            <li><a [routerLink]="['activity/trainings-and-seminars']"
                [routerLinkActive]="['active']">ტრენინგ-სემინარი</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['publications']" [routerLinkActive]="['active']">პუბლიკაციები <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['publications/studies']" [routerLinkActive]="['active']">კვლევები</a></li>
            <li><a [routerLink]="['publications/accounts']" [routerLinkActive]="['active']">ანგარიშები</a></li>
            <li><a [routerLink]="['publications/blogs']" [routerLinkActive]="['active']">ბლოგები</a></li>
            <li><a [routerLink]="['publications/newsletter']" [routerLinkActive]="['active']">საინფორმაციო ბიულეტენი</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['gallery']" [routerLinkActive]="['active']">გალერია <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['gallery/photos']" [routerLinkActive]="['active']">ფოტოები</a></li>
            <li><a [routerLink]="['gallery/videos']" [routerLinkActive]="['active']">ვიდეოები</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="lang-search">
      <div class="lang">
        <ul>
          <li>
            <p style="cursor:pointer" (click)="showLang = !showLang">{{selectedLanguageForUI}}</p>
            <ul *ngIf="showLang">
              <li style="cursor:pointer" (click)="changeLanguage('az-Aze')">AZ</li>
              <li style="cursor:pointer" (click)="changeLanguage('ka-Geo')">KA</li>
              <li style="cursor:pointer" (click)="changeLanguage('en-Us')">EN</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="search">
        <div class="search-block">
          <input type="text" placeholder="{{'search'| translate}}">
          <i class="pi pi-search"></i>
        </div>
      </div>
    </div>
    <div class="responsive-links" [ngClass]="{'active': active}">
      <ul>
        <li><a [routerLink]="['main']" [routerLinkActive]="['active']" (click)="active = false">მთავარი</a></li>
        <li><a [routerLink]="['news']" [routerLinkActive]="['active']" (click)="active = false">სიახლეები</a></li>
        <li>
          <a [routerLink]="['about-us']" [routerLinkActive]="['active']">ჩვენ შესახებ <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['about-us/mission']" [routerLinkActive]="['active']">მისია</a></li>
            <li><a [routerLink]="['about-us/history']" [routerLinkActive]="['active']">ისტორია</a></li>
            <li><a [routerLink]="['about-us/team']" [routerLinkActive]="['active']">გუნდი</a></li>
            <li><a [routerLink]="['about-us/donors-and-partners']" [routerLinkActive]="['active']">დონორები და
                პარტნიორები</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['activity']" [routerLinkActive]="['active']">საქმიანობა <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['activity/projects']" [routerLinkActive]="['active']">პროექტები</a></li>
            <li><a [routerLink]="['activity/service']" [routerLinkActive]="['active']">მომსახურება</a></li>
            <li><a [routerLink]="['activity/courses']" [routerLinkActive]="['active']">კურსები</a></li>
            <li><a [routerLink]="['activity/trainings-and-seminars']"
                [routerLinkActive]="['active']">ტრენინგ-სემინარი</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['publications']" [routerLinkActive]="['active']">პუბლიკაციები <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['publications/studies']" [routerLinkActive]="['active']">კვლევები</a></li>
            <li><a [routerLink]="['publications/accounts']" [routerLinkActive]="['active']">ანგარიშები</a></li>
            <li><a [routerLink]="['publications/blogs']" [routerLinkActive]="['active']">ბლოგები</a></li>
            <li><a [routerLink]="['publications/newsletter']" [routerLinkActive]="['active']">საინფორმაციო ბიულეტენი</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['gallery']" [routerLinkActive]="['active']">გალერია <img style="margin-left:5px;"
              src="assets/images/dropmenu.svg" alt=""></a>
          <ul>
            <li><a [routerLink]="['gallery/photos']" [routerLinkActive]="['active']">ფოტოები</a></li>
            <li><a [routerLink]="['gallery/videos']" [routerLinkActive]="['active']">ვიდეოები</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
