<div class="mission-wrapper">
  <div class="line"></div>
  <h3 class="page-header">მისია</h3>
  <div class="content">
    <div class="image">
      <img src="assets/images/mission.png" alt="">
    </div>
    <div class="description">
      <p>ორგანიზაციის მისიას წარმოადგენს სამოქალაქო საზოგადოების ჩამოყალიბება, მასში ეთნიკური უმცირესობების ინტეგრაციისა და საკუთარი თავის რეალიზების ხელშეწყობა.</p>
      <ul>
        <p>ორგანიზაცია მიზნად ისახავს</p>
        <li>დემოკრატიული განვითარების ხელშეწყობას;</li>
        <li>ქალთა და ახალგაზრდობის მონაწილეობის უზრუნველყოფას სოციალური სამართლიანობის, მშვიდობის,    დემოკრატიული და ეკონომიკური განვითარების საქმეში.</li>
        <li>საქართველოში გენდერული თანასწორობის მიღწევის ხელშეწყობას</li>
        <li>ქალთა უფლებებისა და თავისუფლებების დაცვას </li>
        <li>ეთნიკურ უმცირესობების წარმომადგენელთა განვითარებასა და ჩართულობას საზოგადოებრივ ცხოვრებაში;</li>
        <li>სათემო განვითარების ხელშეწყობას;</li>
        <li>გარემოსა დაცვას.</li>
      </ul>
      <p>2015 წელს მარნეულის მუნიციპალიტეტის სოფელ მოლაოღლუში „ტასოს ფონდის“ მხარდაჭერით დაარსდა „მოლაოღლის სათემო ცენტრი“ როგორც საინიციატივო ჯგუფი.  ხოლო 2017 წელს კი სოფელ ხულდარაში გაიხსნა მეორე, “ხულდარის სათემო ცენტრი”.
        <br>
        <br>
        ორფანიზაციამ 2018 წელს „ახალი აზროვნების ინსტიტუტის“ სახელწოდებით ოფიციალურად გაიარა რეგისტრაცია როგორც არასამთავრობო ორგანიზაცია.
        დღეს ორნიზაციამ გააფართოვა თავისი სამუშაო არეალი, გადაიქცა რეგიონალურ ორგანიზაციად და მარნეულისა და გარდაბნის მუნიციპალიტეტებში დაარსებული სათემო ცენტრებთან გაფორმებული მემორანდუმის საფუძველზე შექმნა “სათემო ცენტრების ქსელი”.
        </p>
    </div>
  </div>
</div>
