<h2>შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს</h2>
  <div class="date">
    <p>28 Aug, 2022, 11:35</p>
  </div>
  <div class="line"></div>
  <div class="detail-soc">
    <p>გაზიარება</p>
    <div class="soc">
      <div><i class="pi pi-youtube"></i></div>
      <div><i class="pi pi-facebook"></i></div>
      <div><i class="pi pi-instagram"></i></div>
      <div><img src="assets/images/chain.svg" alt=""></div>
    </div>

    <share-buttons
    [include]="['facebook']"
    [url]="'https://google.com'"
    [autoSetMeta]="'false'"
    ></share-buttons>
  </div>
