/* You can add global styles to this file, and also import other style files */

@font-face {
  src: url("/assets/fonts/bpg_dejavu_sans.otf");
  font-family: "DejaVu Sans";
}
body{
  padding: 0 !important;
  margin: 0 !important;
  background: #F1F1F1;
}
.banner-item{
  position: relative;
}
.p-carousel-indicators{
  position: absolute;
  bottom: 0;
  right: 314px;
}
.p-carousel-content{
  position: relative;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator button{
  width: 12px !important;
    height: 12px !important;
    border-radius: 100% !important;
    background:#fff !important;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
  background: #CC3D2B !important;
}
.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next{
  display: none !important;
}
.p-carousel-content{
  z-index: -1 !important;
}
.sb-icon{
  width: 36px !important;
  height: 36px !important;
  color: #000;
  border: 1px solid black;
  border-radius: 100%;
}
.sb-button{
  width:36px !important;
  margin-right: 8px;
}
.line {
  width: 66px;
  height: 5px;
  background: #CC3D2B;
  margin-bottom: 10px;
}
h3.page-header {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
}
.p-calendar{
  width:100% !important;
}
.date input {
  height: 50px;
  left: 342px;
  top: 169px;
  background: #FAFAFA;
  border: 1px solid #B7C7CC;
  border-radius: 8px;
  width: 100%;

  padding: 0 15px;
  outline: none;
  font-family: 'DejaVu Sans';
}
.p-button.p-button-success{
  margin-right: 10px;
}
